@font-face {
    font-family: "Clash Display Variable-";
    src: url(fonts/ClashDisplay-Variable.ttf) format("truetype");
}

p{
    margin: 0;
}
body{
    display: flex;
    flex-direction: row;
    gap: 1.7vw;
    background-color: hsl(var(--active-h), 65%, 15%);
    margin: 0;

    .userPanel{
        height: 100vh;
        width: 100%;
        max-width: 55vw;
        border-radius: 0 2.8vw 2.8vw 0;
        background-color: hsl(var(--active-h), 90%, 97%);
        padding: 2.8vw;
        box-sizing: border-box;
        /* overflow-y: scroll; */

        .text{
            display: flex;
            flex-direction: column;
            gap: .25vw;
            margin-bottom: 4vw;

            h1{
                font-family: Clash Display Variable;
                font-size: 3.25vw;
                text-box-trim: trim-both;
                font-weight: 600;
                color: hsl(var(--active-h), 60%, 15%);
                margin: 0;
            }

            p{
                font-family: Clash Display Variable;
                font-size: 1.5vw;
                text-box-trim: trim-both;
                font-weight: 500;
                color: hsl(var(--active-h), 40%, 30%);
                margin: 0;
            }
        }

        .userInput{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.5vw;

            #dropZone{
                width: 100%;
                height: 12.5vw;
                box-sizing: border-box;
                border: dashed 0.3125vw hsl(var(--active-h), 25%, 65%);
                border-radius: 2vw;
                display: flex;
                flex-direction: column;
                gap: 1vw;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                text-align: center;
                cursor: pointer;
                transition: border-color 150ms ease, background-color 150ms ease;

                .text{
                    display: flex;
                    gap: 0.5vw;
                    margin: 0;

                    p{
                        font-family: Clash Display Variable;
                        font-size: 1.5vw;
                        text-box-trim: trim-both;
                        font-weight: 500;
                        color: hsl(var(--active-h), 30%, 40%);
                    }

                    p.secondary{
                        font-family: Clash Display Variable;
                        font-size: 1.25vw;
                        text-box-trim: trim-both;
                        font-weight: 500;
                        color: hsl(var(--active-h), 25%, 65%);
                    }
                }

                input{
                    display: none;
                }
            }

            .row{
                display: flex;
                gap: 0.5vw;

                .inputGroup{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.125vw;
    
                    p{
                        font-family: Clash Display Variable;
                        font-size: .9vw;
                        font-weight: 550;
                        letter-spacing: 0.0187vw;
                        color: hsl(var(--active-h), 40%, 30%);
                        margin-left: 0.5vw;
                        user-select: none;
                    }
                    
                    .field{
                        display: flex;
                        flex-direction: row;
                        gap: 0.125vw;

                        .icon{
                            width: 3vw;
                            border-radius: 1vw 0.25vw 0.25vw 1vw;
                            background-color: hsl(var(--active-h), 60%, 90%);
                            border: hsl(var(--active-h), 75%, 80%) solid 0.1875vw;
                            display: flex;
                            flex-direction: row;
                            gap: 0.125vw;
                            flex-wrap: wrap;
                            align-content: center;
                            justify-content: center;
                            user-select: none;
                            transition: box-shadow,border-color ease-out 150ms;

                            span{
                                font-size: 1.3vw;
                                color: hsl(var(--active-h), 45%, 40%)
                            }
                        }

                        .input{
                            width: 100%;
                            height: 3vw;
                            box-sizing: border-box;
                            border-radius: 0.25vw 1vw 1vw 0.25vw;
                            background-color: hsl(var(--active-h), 60%, 90%);
                            border: hsl(var(--active-h), 75%, 80%) solid 0.1875vw;
                            font-family: Clash Display Variable;
                            font-size: .9vw;
                            font-weight: 500;
                            letter-spacing: 0.0187vw;
                            color: hsl(var(--active-h), 45%, 40%);
                            transition: box-shaow,border-color ease-out 150ms;
                            padding: 0 .2667vw 0 .2667vw;
                        }
        
                        input[type=text]::placeholder{
                            color: hsl(var(--active-h), 45%, 65%);
                        }

                        select,::picker(select){
                            appearance: base-select;
                        }

                        select:not(:open)::picker(select){
                            display: none;
                        }

                        select:open span{
                            transform: rotate(180deg);
                        }

                        select{
                            padding: 0 .2667vw 0 .2667vw;
                            display: flex;
                            flex-wrap: wrap;
                            align-content: center;
                            align-items: center;
                            justify-content: space-between;

                            span{
                                font-size: 1.3vw;
                                transition: transform ease 175ms;
                            }
                        }

                        ::picker(select){
                            box-sizing: border-box;
                            border-radius: 1vw;
                            background-color: hsl(var(--active-h), 60%, 90%);
                            border: hsl(var(--active-h), 75%, 30%) solid 0.1875vw;
                            transition: box-shaow,border-color ease-out 150ms;
                            padding: .25vw;
                            margin: .25vw 0 .25vw 0;
                            color: hsl(var(--active-h), 45%, 40%);
                            display: flex;
                            flex-direction: column;
                            gap: .25vw;
                        }

                        option{
                            outline: none;
                            border-radius: .75vw;
                            height: 2vw;
                            padding: 0 .4vw 0 .4vw;
                            display: flex;
                            flex-wrap: wrap;
                            align-content: center;
                            justify-content: space-between;
                        }

                        option::checkmark{
                            display: none;
                        }
                        
                        option::after{
                            content: "check";
                            font-family: "Material Symbols Rounded";
                            font-size: 1vw;
                            display: none;
                        }

                        option:checked::after{
                            display: block;
                        }
                        
                        select::picker-icon{
                            display: none;
                        }
                    }

                    .field:focus-within{
                        .icon{
                            border: hsl(var(--active-h), 75%, 30%) solid 0.1875vw;
                            box-shadow:
                                0 1px 8px 3px hsla(var(--active-h), 60%, 70%, 0.25),
                                0 2px 4px 0 hsla(var(--active-h), 60%, 30%, 0.20);
                        }

                        .input{
                            outline: none;
                            border: hsl(var(--active-h), 75%, 30%) solid 0.1875vw;
                            box-shadow:
                                0 1px 8px 3px hsla(var(--active-h), 60%, 70%, 0.25),
                                0 2px 4px 0 hsla(var(--active-h), 60%, 30%, 0.20);
                        }
                    }
                }
            }

            .finalTouch{
                display: flex;
                justify-content: end;
                gap: .5vw;

                .colourSelect{
                    display: flex;
                    flex-direction: row;
                    gap: .25vw;

                    label.radio{
                        width: 3vw;
                        height: 3vw;
                        box-sizing: border-box;
                        border-radius: 1vw;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: center;
                        user-select: none;
                        font-size: 1.3vw;
                        transition: box-shadow,border-radius ease 200ms;

                        input{
                            display: none;
                        }

                        span{
                            font-size: 1.3vw;
                        }

                        span::before{
                            content: "palette";
                        }
                    }

                    label.vibrant{
                        background-color: hsl(var(--vibrant-h), 60%, 50%);
                        border: hsl(var(--vibrant-h), 75%, 80%) solid 0.1875vw;
                        color: hsl(var(--vibrant-h), 75%, 90%);
                    }

                    label.dominant{
                        background-color: hsl(var(--dominant-h), 60%, 50%);
                        border: hsl(var(--dominant-h), 75%, 80%) solid 0.1875vw;
                        color: hsl(var(--dominant-h), 75%, 90%);
                    }

                    label.radio:has(input:checked){
                        border-radius: 5vw;

                        span::before{
                            content: "check";
                        }
                    }

                    label.vibrant.radio:has(input:checked){
                        box-shadow: 
                        0 .1vw 1vw .2vw hsla(var(--vibrant-h), 60%, 30%, .25),
                        0 .15vw .5vw 0 hsla(var(--vibrant-h), 60%, 30%, .30);
                    }

                    label.dominant.radio:has(input:checked){
                        box-shadow: 
                        0 .1vw 1vw .2vw hsla(var(--dominant-h), 60%, 30%, .25),
                        0 .15vw .5vw 0 hsla(var(--dominant-h), 60%, 30%, .30);
                    }
                }

                #exportButton{
                    width: fit-content;
                    height: 3vw;
                    outline: none;
                    border-radius: 1vw;
                    box-sizing: border-box;
                    background-color: hsl(var(--active-h), 60%, 50%);
                    border: hsl(var(--active-h), 75%, 80%) solid 0.1875vw;
                    padding: 0 0.70vw 0 .8vw;
                    display: flex;
                    gap: .4vw;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    color: hsl(var(--active-h), 75%, 90%);
                    font-family: Clash Display Variable;
                    font-size: .9vw;
                    font-weight: 500;
                    letter-spacing: 0.0187vw;
                    transition: box-shadow,scale ease-out 150ms;

                    span{
                        font-size: 1.3vw;
                    }
                }

                #exportButton:hover{
                    cursor: pointer;
                    box-shadow:
                        0 1px 8px 3px hsla(var(--active-h), 60%, 70%, 0.25),
                        0 2px 4px 0 hsla(var(--active-h), 60%, 30%, 0.20);
                }

                #exportButton:active{
                    scale: .90;
                }
            }
        }
    }

    .previewPanel{
        width: fit-content;
        height: 100vh;
        
        background-color: none;
        user-select: none;

        display: flex;
        padding: 48px 0 48px 0;
        box-sizing: border-box;
        flex-direction: column;
        align-content: flex-end;
        justify-content: center;
        padding-right: 2vw;
        /* overflow-y: scroll; */

        #canvas{
            height: 90vh;
            aspect-ratio: 9/16;
            position: relative;
            border-radius: 5vh;

            background: linear-gradient(hsl(var(--active-h), 100%, 97%), hsl(var(--active-h), 100%, 90%));

            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            padding: 6vh 6.67vh 3.33vh 6.67vh;
            
            p{
                height: fit-content;

                color: hsl(var(--active-h), 40%, 60%);

                font-family: "Clash Display Variable";
                text-box-trim: trim-both;

                margin: 0;
            }

            .emphasized{
                color: hsl(var(--active-h), 50%, 40%);
            }

            .watermark{
                font-size: 1.3vh;
                font-weight: 450;
                text-align: center;

                margin-bottom: 0.42vh;
            }

            #image{
                width: 100%;
                border-radius: 4.17vh;
                aspect-ratio: 0.67485667485;

                border: solid 1.04vh hsl(var(--active-h), 25%, 45%);
                background-position: center;
                background-size: cover;

                margin: 0 -1.04vh 0.42vh -1.04vh;

                box-shadow: 
                    0 0.26vh 1.3vh 0.26vh hsla(var(--active-h), 20%, 20%, .5),
                    0 0.26vh 0.52vh 0px hsla(var(--active-h), 20%, 20%, .2);
            }

            .info{
                width: 100%;

                font-size: 4.17vh;
                font-weight: 700;
                line-height: 4.17vh;
                text-wrap: balance;

                display: flex;
                flex-direction: column;

                #title{
                    width: 100%;

                    text-wrap: balance;

                    color: hsl(var(--active-h), 25%, 10%);

                    display: block;
                }

                .secondary{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    font-size: 2.08vh;
                    font-weight: 525;
                    line-height: 2.08vh;

                    .actors{
                        display: flex;
                        flex-direction: row;
                    }
                }

                #chip{
                    height: 2.29vh;
                    width: fit-content;

                    background: 
                        linear-gradient(hsl(var(--active-h), 75%, 95%), hsl(var(--active-h), 60%, 85%)) padding-box,
                        linear-gradient(hsl(var(--active-h), 60%, 70%), hsl(var(--active-h), 60%, 80%)) border-box;
                    border: 0.42vh solid transparent;
                    border-radius: 1.04vh;

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.42vh;
                    padding: 0.42vh 0.83vh 0.42vh 0.42vh;
                    margin-top: 0.42vh;

                    box-shadow: 
                        0 0 0.78vh hsla(0, 0%, 0%, .1),
                        0 0 0.52vh hsla(0, 0%, 0%, .1);
                    
                    svg{
                        height: 2.5vh;
                        width: 2.5vh;
                    }

                    p{
                        font-size: 1.46vh;
                        font-weight: 600;
                        color: hsl(var(--active-h), 75%, 35%);
                    }
                } 
            }

            .logo{
                position: absolute;
                bottom: 1.67vh;
                left: 50%h;
                /* transform: translateX(-50%); */
                height: 3.75vh;
                width: 14.06vh
            }
        }
    }
}